<div class="sidenav">
    <img src="/images/white-long.svg" style="width: 100%; margin-bottom: -50px; margin-top: -60px; margin-left: -10px;">
    <a <% if (page==='home' ) { %>class="active" <% } %> href="/home/trending"><i class="fa  fa-house fa-fw"></i>Home</a>
    <a <% if (page==='journal' ) { %>class="active" <% } %> href="/journal"><i class="fa fa-solid fa-book fa-fw"></i></i>Journal</a>
    <a <% if (page==='feed' ) { %>class="active" <% } %>href="/allies"><i class="fa fa-solid fa-handshake fa-fw"></i>Allies</a>
    <a <% if (page==='inbox' ) { %>class="active" <% } %>href="/inbox"><i class="fa fa-solid fa-bell fa-fw"></i>Inbox</a>
    <a <% if (page==='profile' ) { %>class="active" <% } %>href="/myprofile"><i class="fa fa-solid fa-user fa-fw"></i>Profile</a>

    <a href="/logout" style="position: absolute; bottom: 0;width: 100%;"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
</div>