.post{
    text-align: center;
}

.user-link {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 30px;
  }
  user-link:focus {
    outline: none;
  }
