/* post styling */
.post-container {
  max-width: 800px;
  margin: auto;
}

.post {
  max-width: 100%;
  margin: auto;
  text-align: center;
  border: 2px solid #1a1a1a;
  margin-bottom: 35px;
  border-radius: 4px;
}

.post .post-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin: 0px;
}

.post .message{
  margin: 0px;
  background-color: #1a1a1a;
  color: white;
  font-size: 16px;
  margin-top: -8px;
  padding: 12px 10px;
}


/* User data within post */
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #1a1a1a;
  color: white;
}

.info .time {
  font-size: 12px;
  padding-right: 5px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user .profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user a {
  color: white;
}




/* actions buttons for likes/comments */
.action-buttons {
  margin: 0px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #4b4b4b;
}

.actionBtn {
  background-color: inherit;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 0px;
  font-weight: 500;
  text-transform: uppercase;
}

.actionBtn .fa-solid {
  margin-right: 5px;
}

.actionBtn .fa-regular {
  margin-right: 5px;
}

.actionBtn:hover,
.actionBtn:focus {
  opacity: .80;
}

.actionBtn a{
  text-decoration: none;
  color: inherit;
}





/* Style tab links */
.tab {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  margin: -10px -18px;
}

.tablinks {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #1a1a1a;
  color: white;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
  width: 50%;
  margin-bottom: 20px;
}

.tablinks a {
  color: white;
  text-decoration: none;
}

.tablinks .fa-solid {
  margin-right: 10px;
}

.tab button.active {
  text-decoration: underline;
  font-weight: 600;
}

.tablinks:hover {
  text-decoration: underline;
}




/* post modal css */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* post modal button styling*/
.btn {
  font-size: 42px;
  line-height: 100%;
  text-decoration: none;
  padding: 20px 15.25px;
  display: inline-block;
  border-radius: 50%;
  transition: all .2s;
  position: fixed;
  bottom: 27px;
  right: 30px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-post {
  background-color: #1a1a1a;
  color: #ffffff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-post::after {
  background-color: #1a1a1a;
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}


/* hover over post button */
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.1s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  right: -50%;
  bottom: 70px;
  font-family: 'Montserrat', sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  padding: 1px 5px 2px 5px;
  white-space: nowrap;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

[data-title] {
  position: relative;
}