<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <title>Karuna | Sign Up</title>
</head>
<body>

    <div class="login-page">
        <div class="form">
            <div class="login-header">
                <img src="../images/black-tall.svg">
                <p>Please enter credentials to register.</p>
            </div>
            <form action="/register" method="POST">
                <input type="text" id="username" name="username" placeholder="Username"><br>
                <input type="text" id="password" name="password" placeholder="Password"><br>
                <button type="submit" value="Register">Sign Up</button>
                <p class="message">Already a member? <a href="/login">Login here</a></p>
            </form>
        </div>
    </div>

</body>
</html>