<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/feed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Karuna | Feed</title>
</head>

<body>

    <div class="sidenav">
        <img src="images/white-long.svg" style="width: 100%; margin-bottom: -60px; margin-top: -60px; margin-left: -10px;">
        <a href="/home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="/post"><i class="fa fa-fw fa-paper-plane"></i>Post</a>
        <a class="active" href="feed.html"><i class="fa fa-fw fa-feed"></i>Feed</a>
        <a href="/logout" style="position: absolute; bottom: 0;width: 100%;"><i
            class="fa fa-fw fa-sign-out"></i>Logout</a>

    </div>

    <div class="main">
        <h2>Latest Posts</h2>

        <div>
            <div id="post-container"></div>
        </div>

    </div>

    <script src="scripts/loadposts.js"></script>

</body>

</html>