<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {pagetitle: 'Karuna | Home'}); %>
</head>

<body>

    <%- include('../partials/sidenav'); %>

    <div class="main">
        <h2>Welcome back</h2>
        <p>This is the home page made using ejs</p>
        <p>Go to the post tab to create a new wellbeing post!</p>

    </div>

</body>

</html>