<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {pagetitle: 'Karuna | Daily Check In' }); %>
  <link rel="stylesheet" type="text/css" href="css/journal.css">
</head>

<body>

  <%- include('../partials/sidenav'); %>

  <div class="main">

    <h2>Wellbeing Journal</h2>

    <div class="central-container">

      <!-- tab display - adapted from https://www.w3schools.com/howto/howto_js_tabs.asp -->
      <div class="tab">
        <button class="tablinks" onclick="changeTab(event, 'newPost')"><i class="fa-solid fa-heart-circle-plus fa-fw"></i>Check In</button>
        <button class="tablinks" id="defaultOpen" onclick="changeTab(event, 'history')"><i class="fa-solid fa-clock-rotate-left fa-fw"></i>History</button>
      </div>

      <div id="newPost" class="tabcontent">

        <div>
          <form action="/newcheckin" method="POST">
            <label>How are you feeling?</label>
            <select name="mood" id="mood">
              <option value="" disabled selected>&#129300;Select Mood</option>
              <!-- Use numbers for mood value so can be used in journal chart-->
              <option value="5">&#128512;Great</option>
              <option value="4">&#128578;Good</option>
              <option value="3">&#128529;Ok</option>
              <option value="2">&#128530;Bad</option>
              <option value="1">&#128565;Awful</option>
            </select>
            <br><br>

            <label>What did you do today?</label>
            <textarea name="message" id="message"></textarea>
            <br><br>
            <button type="submit" class="stdBtn">
              <i class="fa-solid fa-pen-to-square"></i>Submit
            </button>
          </form>
        </div>

      </div>


      <div id="history" class="tabcontent">

        <!-- chart from chart.js library -->
        <div style="width: 100%;"><canvas id="journalGraph"></canvas></div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="module" src="scripts/journalGraph.js"></script>

      </div>

    </div>

    <script>
      document.getElementById("defaultOpen").click(); //defualt tabe value

      function changeTab(evt, tabName) { //if user changes tab using buttons
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>

  </div>

</body>

</html>