<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {pagetitle: 'Karuna | Profile' }); %>
</head>

<body>

    <%- include('../partials/sidenav'); %>

        <div class="main">

        </div>

</body>

</html>